<div class="container">

  <form action="/events/list" method="post">
    <div class="filters">

      <input type="text" name="keyword" id="keyword-search" placeholder="Search by Keyword">

      <span>Pick a Timeframe</span>
      <div class="row">
        <label for="from">From</label>
        <input id="today" type="date" name="from">
        <label for="from">To</label>
        <input id="future" type="date" name="to">
      </div>

      <button type="submit">Filter!</button>

    </div>
  </form>

  <div class="card-columns">
    {{#each data}} {{>eventCard this}} {{/each}}
  </div>

  <a class="link mtop" href="/events/create-event">ORGANIZE AN EVENT</a>
</div>

<div class="map" id="map-list"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script type="text/javascript" src="/javascripts/listMap.js"></script>
<script>
  var data = {{{ json data }}}
  startMap(data)
</script>