<div class="container">

<h1>Create an Event</h1>
<p id="disclaimer">Something about rules and stuff</p>


<form id="event-create" action="/events/create-event" method="post"  enctype="multipart/form-data">
  <label for="title">Event Title</label>
  <input type="text" name="title" required="true">

  <label for="date">Date</label>
  <input type="date" name="date" required="true">
  <br>

  <label for="time">Time</label>
  <select>
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
    <option value="17">17:00</option>
    <option value="18">18:00</option>
  </select>
  <br>


  <label for="address">Adress</label>
  <input type="text" name="address" required="true">

  <label for="description">Description</label>
  <p>Short description about your plans and your mission. What do you want to change?</p>
  <input type="textarea" name="description" required="true">
  <br>

  <label for="requirements">Requirements</label>
  <p>What do your participants have to do? Is there anything in particular they will need (Equipement / Clothing)?</p>
  <input type="textarea" name="requirements" required="true">

  <input type="checkbox" name="car" value="true"><p>Will you need someone with a car?</p>

  <label for="amount">Amount of needed Helpers</label>
  <input type="number" name="amount" required="true">

  <p class="label">Tags</p>
  <input type="checkbox" name="sports" value="true"><p class="tag">Sport</p>
  <input type="checkbox" name="charity" value="true"><p class="tag">Charity</p>
  <input type="checkbox" name="local" value="true"><p class="tag">Local</p>
  <input type="checkbox" name="lgbt" value="true"><p class="tag">LGBTQ</p>
  <input type="checkbox" name="artistical" value="true"><p class="tag">Art</p>
  <input type="checkbox" name="politics" value="true"><p class="tag">Politics</p>
  <input type="checkbox" name="educational" value="true"><p class="tag">Education</p>

  <label for="img">Image</label>
  <input type="file" name="photo">

  <p class="label">Location</p>
  <p>Just drag and drop to set your meeting point.</p>
  <div id="map"></div>
  <input type="hidden" id="loc-pick-lat" name="lat" value=>
  <input type="hidden" id="loc-pick-lng" name="lng" value=>
  <br>
  <button type='submit'>That'll be my event.</button>

</form>


</div>

<script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
<script src="/javascripts/locPicker.js"></script>

