<div class="container">

<h1>Create an Event</h1>
<p id="disclaimer">Something about rules and stuff</p>

<form id="event-create" action="" method="post">

  <label for="title">Event Title</label><br>
  <input type="text" name="title" required="true">
  <br>

  <label for="date">Date</label><br>
  <input type="date" name="date" required="true">
  <br>

  <label for="time">Time</label>
  <select>
    <option value="8">8:00</option>
    <option value="9">9:00</option>
    <option value="10">10:00</option>
    <option value="11">11:00</option>
    <option value="12">12:00</option>
    <option value="13">13:00</option>
    <option value="14">14:00</option>
    <option value="15">15:00</option>
    <option value="16">16:00</option>
    <option value="17">17:00</option>
    <option value="18">18:00</option>
  </select>
  <br>

  <label for="adress">Adress</label><br>
  <input type="text" name="adress" required="true">
  <br>

  <label for="description">Description</label>
  <p>Short description about your plans and your mission. What do you want to change?</p>
  <input type="textarea" name="description" required="true">
  <br>

  <label for="requirements">Requirements</label>
  <p>What do your participants have to do? Is there anything in particular they will need (Equipement / Clothing)?</p>
  <input type="textarea" name="requirements" required="true">
  <br>
  <input type="checkbox" name="car" value="car"><p class="tag">Will you need someone with a car?</p>
  <br>

  <label for ="amount">Amount of needed Helpers</label><br>
  <input type="number" name="amount" required="true">

  <p class="label">Tags</p>
    <input type="checkbox" name="tag1" value="sport"><p class="tag">Sport</p>
    <input type="checkbox" name="tag2" value="charity"><p class="tag">Charity</p>
    <input type="checkbox" name="tag3" value="local"><p class="tag">Local</p>
    <input type="checkbox" name="tag4" value="lgbtq"><p class="tag">LGBTQ</p>
    <input type="checkbox" name="tag5" value="art"><p class="tag">Art</p>
    <input type="checkbox" name="tag6" value="politics"><p class="tag">Politics</p>
    <input type="checkbox" name="tag7" value="education"><p class="tag">Education</p>

  <label for ="img">Image</label>
  <input type="file" name="img">
  
  <p class="label">Location</p>
  <p>Just drag and drop to set your meeting point.</p>
  <div class="map"></div>

  <button type='submit'>That'll be my event.</button>

</form>

</div>