<div class="container">

  <form action="/events/list" method="post">
    <div class="filters">

      <input type="text" name="keyword" id="keyword-search" placeholder="Search by Keyword">

      <span>Pick a Timeframe</span>
      <div class="row">
        <label for="from">From</label>
        <input id="today" type="date" name="from">
        <label for="from">To</label>
        <input id="future" type="date" name="to">
      </div>

      {{!--
      <div class="col">
        <input type="checkbox" name="need" value="true"><p class="tag">Help still needed</p>
        <div class="list">
          <input type="checkbox" name="sports" value="true"><p class="tag">Sport</p>
          <input type="checkbox" name="charity" value="true"><p class="tag">Charity</p>
          <input type="checkbox" name="local" value="true"><p class="tag">Local</p>
          <input type="checkbox" name="lgbt" value="true"><p class="tag">LGBTQ</p>
          <input type="checkbox" name="artistical" value="true"><p class="tag">Art</p>
          <input type="checkbox" name="politics" value="true"><p class="tag">Politics</p>
          <input type="checkbox" name="educational" value="true"><p class="tag">Education</p>
        </div>
      </div> --}}

      <button type="submit">Filter!</button>

    </div>
  </form>

  <div id="events-container" class="card-columns">
    {{#each data}} {{>eventCard this}} {{/each}}
  </div>
</div>

<a class="link" href="/events/create-event">ORGANIZE AN EVENT</a>

<div class="map" id="map-list"></div>

{{!--
<script>var foo = {{{ json data }}}</script> --}}
<div class="map" id="map-list"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="/javascripts/listMap.js"></script>
