<div id="events-filter-container">
  <form action="/events/list" method="post">
    <input type="text" name="keyword" id="">
    <input type="date" name="from-date" id="from-date">
    <input type="date" name="to-date" id="to-date">
    <input type="checkbox" name="still-need" value="true"><p class="tag">Help still needed</p>
    <div class="list">
      <input type="checkbox" name="sports" value="true"><p class="tag">Sport</p>
      <input type="checkbox" name="charity" value="true"><p class="tag">Charity</p>
      <input type="checkbox" name="local" value="true"><p class="tag">Local</p>
      <input type="checkbox" name="lgbt" value="true"><p class="tag">LGBTQ</p>
      <input type="checkbox" name="artistical" value="true"><p class="tag">Art</p>
      <input type="checkbox" name="politics" value="true"><p class="tag">Politics</p>
      <input type="checkbox" name="educational" value="true"><p class="tag">Education</p>
    </div>
    <button type="submit">Filter !</button>
  </form>
</div>
<div id="events-container">
  {{#each data}} {{>eventCard this}} {{/each}}
</div>