<div class="map" id="map-main"></div>

<div class="container">

  <div class="index">

    <div id="opener">
      <h1 id="logo">Placeholder Name</h1>
      <p class="tagline-1">Gather up to give back to your Community!</p>
      <p class="tagline-2">PLACEHOLDER is the trusted way to find likeminded people around you and launch events to brighten
        up the neighborhood.</p>
    </div>

    <div id="trust">
      <h2>What we're about</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quia, nesciunt earum perferendis facere libero fugiat!
        Repellendus repudiandae, voluptas omnis ipsum corporis dolores animi sint obcaecati reiciendis quas eos dolor?</p>
      <a class="link" href="">Learn more about our concept</a>
    </div>

    <div class="event-preview">
      <div class="card-mini">
        <p>cards to follow</p>
      </div>
    </div>

    <a class="link" href="/auth/login">Register and help</a>

    <a class="link" href="/events/create-event">Organize an event</a>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="/javascripts/mainMap.js"></script>
</div>