<div class="map" id="map-main"></div>

<div id="opener">
  <div class="center">
    <img src="../images/hands_outline.svg" alt="logo" id="main-logo" />
    <h1 id="logo">Helping Hands</h1>
    <p id="tagline-1">Do something good for your local community.</p>
  </div>
</div>

<div class="container" id="index-container">

  <div class="index">

    <div id="trust">
      <h2>What we're about</h2>
      <p>Let's say you had an idea to make your neighborhood a little bit better, but noone to help you to make that idea
        come to life? Let's say you have lots of free time and ready to collect good karma? You know it - Helping Hands is
        your answer.</p>
    </div>
    <a class="link" href="">LEARN MORE ABOUT OUR CONCEPT</a>

    <div class="event-preview">
      <h2>Latest Events</h2>
      <div class="card-deck">
        {{#each data}} {{>eventCard this}} {{/each}}
      </div>
      <a class="link" href="/events/list">VIEW ALL EVENTS</a>
    </div>

    <a class="link" href="/events/create-event">ORGANIZE AN EVENT</a>
    <a class="link" href="/auth/login">REGISTER AND HELP</a>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="/javascripts/mainMap.js"></script>
</div>