<div class="map"></div>

<div class="container">
<div id="opener">
  <h1 id="logo">PALCEHOLDER NAME</h1>
  <p class="tagline-1">Gather up to give back to your Community!</p>
  <p class="tagline-2">PLACEHOLDER is the trusted way to find likeminded people around you and launch events to brighten up the neighborhood.</p>
</div>

<a href="/auth/login">SIGN UP</a>
<a href="/create-event">CREATE EVENT</a>

</div>