<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,900" rel="stylesheet" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNEbpcOngNtoKZPmH8ye_Eitss9rYz0GA"></script>
  <script src='/javascripts/script.js'></script>
</head>

<body>
  <nav>
    <a id="home" href="./">PLACEHOLDER</a>
    <a id="profile-link" href="./signup">LOG IN / SIGN UP</a>
  </nav>

  {{{body}}}

</body>

</html>