<div id="signup-container">
<h1>SIGN UP</h1>
<p>Let your local community know you're on board by registering and staying updated about events happening in your area.</p>

<form id="signup-form" action="" method="POST">

  <input type="email" name="email" placeholder="Type in your E-mail" required="true">
  <br>
  <input type="password" name="password" placeholder="Choose a Password" required="true">
  <br>
  {{!-- nice addition --}}
  {{!-- <input type="password" name="password-check" placeholder="Confirm your Password" required="true">
  <br> --}}
  <button type='submit'>I'm ready to help!</button>

</form>
  
  {{#if error}}
  <p class="error-message">Sorry: {{error}}</p>
  {{/if}}

  <a class="facebook" href=""><button>Sign up with Facebook instead</button></a>

</div>

<div id="login-container">
<h1>LOG IN</h1>

<form id="login-form" action="" method="POST">

  <input type="email" name="email" placeholder="Type in your E-mail" required="true">
  <br>
  <input type="password" name="password" placeholder="Choose a Password" required="true">
  <br>
  <button type='submit'>Let's help!</button>

</form>
  
  {{#if error}}
  <p class="error-message">Sorry: {{error}}</p>
  {{/if}}

  <a class="facebook" href=""><button>Log in with Facebook</button></a>

</div>