<div class="container">
  <div id="user-details-container">
    <img src="{{picture}}" />

    <p>name</p>
    <h1>{{name}}</h1>

    <p>About me:</p>
    <h4>{{bio}}</h4>
  </div>
  <div id="event-history">
    {{!-- {{}} --}}
  </div>
  {{#if edit}}
  <a href="/user-edit">Edit profile</a>
  {{/if}}
</div>