@import "myvariables.scss";

#map {
  width: 100%;
  height: 20vh;
}
#disclaimer {
  text-align: center;
}

.event-single {
  margin-bottom: 100px;

  .practical {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;

    .number {
      display: flex;
      flex-flow: row nowrap;

      p:first-child {
        margin-right: 10px;
      }
    }
    p {
      font-style: italic;
    }
  }

  h2 {
    font-weight: $bold;
    font-size: 1.2em;
    line-height: 3em;
  }
}

.event-img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.event-create {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

#event-create {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#events-filter-container {
  display: flex;
  flex-flow: row nowrap;
  // max-width: 300px;
  // margin-left: auto;
  // margin-right: auto;

  // #from,
  // #to {
  //   width: 140px;
  // }
  form {
    margin-left: auto;
    margin-right: auto;
    .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-around;
    }
  }
}

#events-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.card {
  img {
    height: 300px;
    object-fit: cover;
  }
}

.container-participants {
  display: flex;
  flex-flow: row nowrap;
}
