@import "../../node_modules/bootstrap/scss/bootstrap";
$red: #f2616f;
$yellow: #fffb76;
$grey: #494949;
$lightgrey: #E6E6E6;

#map {
  width: 100%;
  height: 20vh;
}
#disclaimer {
  text-align: center;
}