@import "myvariables.scss";

.map {
  height: 81vh;
}

#map-main {
  z-index: -1;
}

#opener::before {
  content: "";
  background-image: url("../images/orange.svg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#opener {
  margin-top: -80vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  img {
    width: 50%;
    // padding: px;
    // background: url("../images/circle_white.svg");
    // background-size: cover;
    // background-position: center;
    // background: rgba(255, 255, 255, 0.7);
    // border-radius: 150px;
    // margin-bottom: 80px;
  }

  .center {
    text-align: center;

    #logo {
      font-family: "Montserrat", sans-serif;
      font-size: 4em;
      letter-spacing: 0.05em;
    }

    #tagline-1 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em;
    }
  }
}

#index-container {
  padding-left: 0px;
}

.index {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80vw;

  p {
    text-align: center;
  }

  #trust {
    // width: 60%;
    margin: 40px 0;
  }

  .link {
    color: $orange;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    margin: 10px 0;
  }
}

.event-preview {
  background: url("../images/blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  padding: 40px 0;
  margin: 60px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    margin: 0;
  }

  .cards {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .card-mini {
    background-color: white;
    border-radius: 3px;
    // box-shadow: 0 2px 20px 1px $orange;
    margin: 40px 0;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      margin-bottom: 20px;
    }

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.2em;
    }

    .date {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;

      p {
        margin: 0 5px;
      }
    }
  }
}
