@import "myvariables.scss";

.map {
  height: 80vh;
  background-color: grey;
  z-index: -1;
}

#opener {
  background-color: rgba(255,255,255,0.7);
  margin-top: -80vh;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .center {
    width: 50%;
    text-align: center;  
    
    .tagline-1 {
      font-weight: 700;
      font-size: 1.5em;
    }
    .tagline-2 {
      font-weight: 700;
    }
  }
}

.index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  
  p {
    text-align: center;
  }
}

.event-preview {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  .card-mini {
    width: 80%;
    height: 400px;
    background-color: $blue;
  }
}
