@import "myvariables.scss";

.login-container {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

#login-form, #signup-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}