
@import "../../node_modules/bootstrap/scss/bootstrap";
$red: #f2616f;
$yellow: #fffb76;
$grey: #494949;
$lightgrey: #e6e6e6;

@import "index.scss";
@import "login.scss";
@import "events.scss";

// body {
// 	@include media-breakpoint-up(md) {
// 		background-color: #ff6666;
// 		section::after {
// 			content: "LG";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed blue;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(lg) {
// 		background-color: #ffb266;
// 		section::after {
// 			content: "MD";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed chartreuse;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(md) {
// 		background-color: #ffff66;
// 		section::after {
// 			content: "SM";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed aquamarine;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(sm) {
// 		background-color: #b2ff66;
// 		section::after {
// 			content: "XS";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed rebeccapurple;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(xs) {
// 		background-color: #b2b266;
// 		section::after {
// 			content: "XXS";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed darkmagenta;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// }

a {
  text-decoration: none;
  color: $red;
}

h1 {
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;

  nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;

    #home {
      font-style: italic;
      margin-right: 5%;
    }
    #profile-link {
      display: none;
    }
  }


  footer {
    background-color: $lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;

    a {
      font-weight: 700;
      font-size: 1.2em;
    }
  }
}

.container {
  width: 80vw;
  margin-top: 50px;
}

//everythin' form
input {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
input[type="checkbox"] {
  width: auto;
}
.tag {
  display: inline;
}
label, .label {
  font-weight: 700;
}
button {
  background-color: $red;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#facebook {
  background-color: $grey;
}